@font-face {
  font-family: 'Stag Black';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-BLACK_0.woff') format('woff');
}

@font-face {
  font-family: 'Stag Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-BOOK_0.woff') format('woff');
}

@font-face {
  font-family: 'Stag Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-SEMIBOLD_0.woff') format('woff');
}

@font-face {
  font-family: 'Stag Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-MEDIUM_0.woff') format('woff');
}

@font-face {
  font-family: 'Stag Book Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-BOOKITALIC_0.woff') format('woff');
}