@font-face {
  font-family: 'Stag Black';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-BLACK_0.woff') format('woff');
}
  
@font-face {
  font-family: 'Stag Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-BOOK_0.woff') format('woff');
}

@font-face {
  font-family: 'Stag Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-SEMIBOLD_0.woff') format('woff');
}

  
@font-face {
  font-family: 'Stag Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-MEDIUM_0.woff') format('woff');
}

  
  
@font-face {
  font-family: 'Stag Book Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STAG-BOOKITALIC_0.woff') format('woff');
}
  
  // @font-face {
  // font-family: 'Stag Light';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Light'), url('STAG-LIGHT_0.woff') format('woff');
  // }
 
  
  // @font-face {
  // font-family: 'Stag Thin Dot';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Thin Dot'), url('STAG-THINDOT.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Stag Thin';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Thin'), url('STAG-THIN_0.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Stag Black Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Black Italic'), url('STAG-BLACKITALIC_0.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Stag Bold Dot';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Bold Dot'), url('STAG-BOLDDOT.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Stag Bold Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Bold Italic'), url('STAG-BOLDITALIC_0.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Stag Bold';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Bold'), url('STAG-BOLD_0.woff') format('woff');
  // }
 
  
  // @font-face {
  // font-family: 'Stag Light Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Light Italic'), url('STAG-LIGHTITALIC_0.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Stag Medium Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Medium Italic'), url('STAG-MEDIUMITALIC_0.woff') format('woff');
  // }
  
  
  // @font-face {
  // font-family: 'Stag Semibold Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Semibold Italic'), url('STAG-SEMIBOLDITALIC_0.woff') format('woff');
  // }

  
  
  // @font-face {
  // font-family: 'Stag Thin Italic';
  // font-style: normal;
  // font-weight: normal;
  // src: local('Stag Thin Italic'), url('STAG-THINITALIC.woff') format('woff');
  // }