$black: #000000;
$white: #ffffff;

$color-primary: #f2f2f2;
$font-color-primary: #454545;

$font-primary: 'Stag Book', serif;
$font-primary-semibold: 'Stag Semibold', serif;
$font-primary-medium: 'Stag Medium', serif;
$font-primary-italic: 'Stag Book Italic', serif;
